.rm-audio-player-provider #rm-audio-player {
  --rm-audio-player-interface-container: #19191e;
  --rm-audio-player-track-current-time: #fff;

  --rm-audio-player-progress-bar-background: #333333;
  --rm-audio-player-progress-bar: #fff;
  .kuNzeN {
    border-radius: 4px;
    overflow: hidden;
  }
}
